<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/activity-instructions.css" />

    <title>تعليمات النشاط</title>
  </head>
  <body>
    <header></header>

    <div class="container">
      <h1 class="title">تعليمات النشاط</h1>
      <p class="intro">
        مرحبًا بك في صفحة تعليمات النشاط ، يرجى قراءة الإرشادات بعناية لضمان
        تنفيذ النشاط بالشكل الصحيح
      </p>
      <ul class="steps">
        <li>
          <h3>أسئلة صح أو خطأ:</h3>
          <br />
          <p>
            • اقرأ السؤال بعناية وافهم المطلوب قبل الإجابة.<br /><br />
            • اختر "صح" إذا كانت العبارة صحيحة بناءً على معرفتك بالمادة. اختر
            "خطأ" إذا كانت العبارة غير صحيحة.<br /><br />
            • تأكد من مراجعة الإجابة بعد الاختيار لتجنب الأخطاء الشائعة.<br />
          </p>
        </li>
        <li>
          <h3>أسئلة كتابة الاستعلام:</h3>
          <br />
          <p>
            • تأكد من فهم المطلوب بدقة قبل البدء في كتابة الكود.<br /><br />
            • لاحظ التفاصيل مثل أسماء الجداول والأعمدة المستخدمة في السؤال.<br /><br />
            • تأكد من استخدام الأسماء الصحيحة للجداول والاعمده كما هي مذكورة في
            السؤال.<br /><br />
            • أي خطأ في كتابة الاسم قد يؤدي إلى عدم عمل الاستعلام.<br /><br />
            • إذا واجهتك مشكلة في كتابة الاستعلام، حاول تقسيم المطلوب إلى أجزاء
            صغيرة.<br /><br />
            • إذا كان السؤال غير واضح، راجع أمثلة سابقة أو التلميحات المتاحة.<br /><br />
            • تحقق من أن الاستعلام يلبي جميع متطلبات السؤال.<br />
          </p>
        </li>
      </ul>
    </div>

    <script src="/js/header.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
